body{
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #333;
}

.menu_ul{
    display: inline;
    list-style: none;
    margin: 0;
}

.menu_li{
    display: inline-block;
}

.menu_link{
    
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.menu_link:hover{
    height: auto;
    background-color: aquamarine;
    color: #fff;
}

@media screen and (max-width: 650px) {
    .menu_ul{
        padding: 0;
    }
    .menu_li{
        margin-right: -3px;
        display: inline-block;
        text-align: center;
        width: 50%;
    }
    .menu_link{
        display: list-item;
    }
}

@media screen and (max-width: 480px){
    .menu_li{
        width: 100%;
    }
    
}