body{
    font-size: 1.2rem;
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

.menu{
    background-color: #333;
    top: 10px;
    bottom: 50px;
}

.menu_ul{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 50px 50px;
}

.menu_li{
    display: inline-block;
    margin: 0;
}

.menu_link{
    
    text-decoration: none;
    color: aliceblue;
    padding: 20px 30px;
}

.menu_link:hover{
    height: auto;
    background-color: aquamarine;
    color: #fff;
}